* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#fullsite {    
    display: grid;
    grid-template-rows: .2fr 1fr;
    height: 100vh;
    
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#b3c3d1;
    color: aliceblue;
    padding: 12px 48px;
    
}

.logo {
    width: 46px;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;   
}

#container {
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: #e3e3ee;   
    padding: 60px; 
    row-gap: 24px; 
       
}

.addContainer, .formPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    background-color: #f0f8ff;
    color: darkseagreen;
    width: 180px;
    border-radius: 32px;
    gap: 16px;
    border: 2px solid #5f9f5f;
}

.formPopup {
    display: none;
    font-size: 18px;
    color: #474747
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;    
    padding: 12px;
}

input {
    display: flex;
    border: none;
    border-radius: 16px;
    background-color: lightgray;
    font-size: 14px;  
    padding: 3px;  
    width: 90%;
}

#submit {       
    display: flex;
    justify-content: center;
    padding: 8px 24px;
    color: #474747;

}

.submit {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    transform: scale(1.1);
}

.confirm {
    display: flex;
    align-self: start;
    gap: 16px;
}

.cancelForm {
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.cancelForm:hover {
    text-decoration: underline;
}

.cancel {    
    border: none;
    color:#9f5f5f
}

.addContainer:hover, .formPopup:hover {
    transform: scale(1.1);
}

.bookContainer:hover {
    transform: scale(1.02);
}

.bigIcon {
    width:  68px;    
}

.bigButton {
    background-color: darkseagreen;
    border: none;
    border-radius: 100%;
    padding: 24px;
}

.bigButton:hover {
    transform: scale(1.08);
    box-shadow: 0 0 16px #5f9f5f;    
}

.unread {          
    background-color: #9f5f5f;             
}

.read {
    background-color: #5f9f5f;
}


.bookContainer {
    display: grid;
    flex-direction: column;    
    height: 260px;    
    width: 180px;
    border-left: 3px solid gray;   
    border-bottom: 3px solid gray;  
    border-radius: 32px;
    color: aliceblue;
    text-align: center;    
}

.bookTitle {
    padding: 8px;
    font-size: 18px;    
}

.author {
    padding: 8px;
    font-size: 12px;
}

.icon {
    width: 26px;
}

.viewIcon {
    display: flex;
    align-self: flex-start; 
    margin: 14px;      
}

.view {
    margin-right: 110px;
}

.bottomBookContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 14px;

}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    gap: 12px;
    
}

.pages {
    display: flex;
    align-items: center;
    gap: 8px;    
}

.removeBook, .view {
    border: none;    
    border-radius: 100%;
}

.removeBook:hover, .view:hover {
    transform: scale(1.2);
}

input:active, input:focus {
    border: none;
    outline: none;
}